* {  
  margin: 0;
  padding: 0;
  list-style: none;  
}

.img1 {
  width: 100vw;
  background-size: cover;
  height: 100vh;
  background-image: url(/assets1/bwm-header.jpg);
}

nav{
  content: "";
  width: 100%;
  height: 15%;
  font-size: 15px;
  display: flex;
  align-items: center;
  border-color: gray;
}
ul {
  width: 100%;
  height: 100%;  
  margin-top: 36px;  
  padding: 30px;
  color:white;
  font-size: 15px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  li img {
    width: 20px;
    height: 20px;
  }
}
.logo{
    width: 80px;
    height: 80px;  
    margin-right: 30px;  
}  
.linea{
  width: 85%;
  height: 1px;
  background-color: black;
  margin-left: 35px;
  margin-bottom: 60vh;
}
.text1{  
  height: 17vh; 
  width: 70vh;
  display: flex;  
  flex-direction: column;
  position: relative;
  margin-top: 245px;
  font-family: 'Courier New', Courier, monospace;
  align-items: flex-start;
  margin-left: 90px;
  color: white;  
  text-shadow: 0px -4px 15px #dc2b2b;
  .t1{
    width: 112px;
    background-color: #1C69D5;
    color: white;
  }
} 

